In [2]:
import pandas as pd 
import math
import numpy as np
from scipy import interpolate
from scipy.optimize import minimize_scalar
import matplotlib.pyplot as plt
import matplotlib as mpl
import warnings

mpl.rc('font',family='Times New Roman') #везде TNR
warnings.filterwarnings("ignore")

In [ ]:
from pydantic import BaseModel
from typing import List

class DataPoint(BaseModel):
    """
    Координаты для построения графика 
    """
    x: float
    y: float

class BuildGdh(BaseModel):
    """
    Схема датасета с координатами для построения ГДХ
    """
    datasets: List[DataPoint]
    label: str

class BaseGDH:
    
    p_komer = 0.101325
    t_komer = 283

    def __init__(self, q_rate, p_in, kpd, freq, freq_nom_all, t_in, p_out, diam, r_value, freq_nom, mgth, stepen, p_title, k_value = 1.31, name=None): 
        self.q_rate = q_rate
        self.p_in = p_in
        self.diam = diam
        self.kpd = kpd 
        self.freq = freq
        self.t_in = t_in
        self.r_value = r_value
        self.k_value = k_value
        self.p_out = p_out
        self.freq_nom = freq_nom
        self.freq_nom_all = freq_nom_all
        self.mgth = mgth
        self.stepen = stepen
        self.p_title = p_title
        self.name = name
        self.f_kpd:np.poly1d=None  


    @classmethod
    def create_by_excel(cls, df):
        df = pd.read_excel(df, sheet_name=sheet_name)
        del_idx = df[df.iloc[:,0] == '//'].index[0]
        df_1 = df.iloc[:del_idx][~(df.iloc[:,0] == '/')]
        df_2 = df.iloc[del_idx+1:][~(df.iloc[:,0] == '/')]
        q_rate = df_1['V'].to_numpy()
        kpd = df_1['kpd'].to_numpy()
        freq = df_1['f'].to_numpy()  
        r_value = df_2[df_2.iloc[:,0] == 'R'].iloc[:,1].values
        t_in = df_2[df_2.iloc[:,0] == 'T'].iloc[:,1].values
        diam = df_2[df_2.iloc[:,0] == 'd'].iloc[:,1].values
        freq_nom = df_2[df_2.iloc[:,0] == 'fnom'].iloc[:,1].values
        freq_nom_all = freq / freq_nom
        if df_1['Pvh'][0] < df_2[df_2.iloc[:,0] == 'P'].iloc[:,1].values:
            p_in = df_1['Pvh'].to_numpy()
            p_out =  df_2[df_2.iloc[:,0] == 'P'].iloc[:,1].values
        else:
            p_out = df_1['Pvh'].to_numpy()
            p_in = df_2[df_2.iloc[:,0] == 'P'].iloc[:,1].values 
        mgth = df_2[df_2.iloc[:,0] == 'mgth'].iloc[:,1].values 
        stepen = df_2[df_2.iloc[:,0] == 'stepen'].iloc[:,1].values 
        p_title = df_2[df_2.iloc[:,0] == 'ptitle'].iloc[:,1].values 
        # print(kpd, freq, freq_nom_all)
        return cls(q_rate, p_in, kpd, freq, freq_nom_all, t_in[0], p_out, diam[0], r_value[0], freq_nom[0], mgth[0], stepen[0], p_title[0], k_value = 1.31, name=sheet_name)
    

    def __format__(self) -> str:
        return f'{self.mgth:.0f}-{self.p_title:.0f} {self.stepen} ({self.freq_nom:.0f} об/мин)'    

    @classmethod 
    def get_pltn(cls, p_in:float, t_in:float, r_value:float, z:float) -> float: 
        """Расчет плотности
        Args:
            p_in (float): Давление, МПА
            t_in (float): Температура, K
            r_value (float): Постоянная Больцмана поделеная на молярную массу
            z (float): Коэффициент сверсжимаемости
        Returns:
            float: плотность газа при указанные давлении и температуры, кг/м3
        """
        pltn = p_in * 10**6 / (z * r_value * t_in)
        return pltn
    

    @classmethod
    def get_z_val(cls, p_in:float, t_in:float, t_krit=190, p_krit=4.6) -> float: 
        """Расчет коэффициента сверсжимаемости
        Args:
            p_in (float): Давление, МПА
            t_in (float): Температура, К
            t_krit (int, optional): Критич. Температура, К {default = 190}
            p_krit (float, optional): Критич. Давление, МПа {default = 4.6}
        Returns:
            float: Значение сверхсжимаемости Z
        """
        z_val = 1 - 0.427 * p_in / p_krit * (t_in / t_krit)**(-3.688)        
        if type(z_val) == float:
            return 0.1 if z_val < 0 else z_val
        else:
            if type(z_val) == np.ndarray or type(z_val) == np.float64:
                return np.where(z_val < 0 , 0.1, z_val)
            else:
                return z_val
    

    @classmethod
    def get_volume_rate_from_press_temp(cls, q_rate:float, p_in:float, t_in:float, r_value:float) -> float:
        """Расчет объемного расхода
        Args:
            pltn_0 (float): Стандартная плотность, кг/м3
            q_rate (float): Комерческий расход, млн. м3/сут
            pltn_1 (float): Плотность, кг/м3
        Returns:
            float: Возвращяет обьемный расход, при указанных условиях, м3/мин
        """
        z_0 = cls.get_z_val(cls.p_komer, cls.t_komer, t_krit=190, p_krit=4.6)
        pltn_0 = cls.get_pltn(cls.p_komer, cls.t_komer, r_value, z_0)
        z_1 = cls.get_z_val(p_in, t_in, t_krit=190, p_krit=4.6)
        pltn_1 = cls.get_pltn(p_in, t_in, r_value, z_1)
        volume_rate = q_rate * 10**6 * pltn_0 / (24 * 60 * pltn_1)
        return volume_rate
   
   
    @classmethod 
    def get_u_val(cls, diam:float, freq:float) -> float:
        """Расчет угловой скорости
        Args:
            diam (float): Диаметр, м
            freq (float): Частота, об/мин
        Returns:
            float: Угловая скорость, м/с
        """
        u_val = freq * diam * math.pi / 60
        return u_val
    

    @classmethod
    def get_koef_rash_from_volume_rate(cls, diam:float, u_val:float, volume_rate:float) -> float:
        """Расчет коэффицента расхода
        Args:
            diam (float): Диаметр, м
            u_val (float): Угловая скорость, м/с
            volume_rate (float): Обьемный расход при заданных условиях, м3/мин
        Returns:
            float: Возвращяет коеффициент расхода при заданных условиях и текущей температуре, д.ед
        """
        koef_rash_ = 4 * volume_rate / (math.pi * diam**2 * u_val * 60) 
        return koef_rash_
    

    @classmethod
    def get_koef_nap(cls, dh:float, u_val:float) -> float:     
        """Расчет безразмерного коэффицента напора
        Args:
            dh (float): Изменение энтальпии, Дж
            u_val (float): Угловая скорость, м/мин
        Returns:
            float: Возврощяет коеффициент напора, при заданных условиях и текущей температуре, д.ед
        """
        koef_nap = dh  / u_val**2
        return koef_nap
    

    @classmethod   
    def get_dh(cls, p_in:float, r_value:float, t_in:float, comp:float, k_value:float, kpd:float) -> float: 
        """удельное изменение энтальпии
        Args:
            z_1 (float): Коэффициент сверсжимаемости
            r_value (float): Постоянная Больцмана поделеная на молярную массу
            t_in (float): Температура, K
            comp (float): Степень сжатия
            k_value (float): Коэф-т политропы, б.м.
            kpd (float): Политропный кпд, д.ед
        Returns:
            float: Необходимое для сжатия измение энтальпии, дж/кг
        """
        z_1 = cls.get_z_val(p_in, t_in, t_krit=190, p_krit=4.6)
        dh = z_1 * r_value * t_in * (comp**((k_value - 1) / (k_value * kpd)) -1) * (k_value * kpd) /(k_value - 1)
        return dh  


    @classmethod   
    def get_comp_r(cls, p_in:float, p_out:float) -> float: 
        """расчет степени сжатия
        Args:
            p_in (float): Давление на входе, МПа
            p_out (float): Давление на выходе, МПа
        Returns:
            float: Степень сжатия
        """
        comp_r = p_out / p_in
        return comp_r
        

    @classmethod
    def get_line_N_p_in(self, u_val:float, z_in:float, r_val:float, t_in:float, koef_rash:float, koef_nap:float, kpd:float, diam:float) -> float:
        return (u_val ** 3) * koef_nap * koef_rash * math.pi * (diam**2) / (4 * z_in * r_val * t_in * kpd) * 10 ** 3        
    

    @classmethod
    def get_volume_rate_from_koef_rash(self, k_rash, diam, freq): 
        return k_rash * math.pi * diam**2 * (diam * math.pi)/4 * freq #обьемный расход из коэффициента расхода
    

    @classmethod
    def get_comp_ratio_from_koef_nap(self, koef_nap, freq, diam, kpd, t_in:float, z_in:float, r_val:float, k_value): # получение P2/P1 
        u_val = freq * diam * math.pi / 60
        dh =  koef_nap * u_val**2
        m_t =  (k_value - 1) / (k_value * kpd)
        return (dh * m_t / (z_in * r_val * t_in) + 1) ** (1 / m_t)

       
    def get_koef_rash(self, koef_rash:np.array):
        k_rash_min = np.min(koef_rash)
        k_rash_max = np.max(koef_rash)

        res_min = minimize_scalar(lambda x: -self.f_kpd(x), bounds=[k_rash_min, k_rash_max])
        kpd_max = -res_min.fun 
        k_rash_kpd_max = res_min.x 

        # kpd_range_left = np.linspace(self.f_kpd(k_rash_min), kpd_max, 3)
        # kpd_range_right = np.linspace(kpd_max-0.01, self.f_kpd(k_rash_max), 3)
        
        kpd_range_left = np.arange(self.f_kpd(k_rash_min), kpd_max+0.025, 0.005)

        if kpd_range_left.size > 3:
            kpd_range_left = np.linspace(self.f_kpd(k_rash_min), kpd_max, 4)

        kpd_range_right = np.arange(kpd_max-0.01, self.f_kpd(k_rash_max), -0.01)

        if kpd_range_right.size > 3:
            kpd_range_right = np.linspace(kpd_max-0.01, self.f_kpd(k_rash_max), 4)

        kpd_range = np.array([
            self.f_kpd(k_rash_min),
            *np.round(kpd_range_left,10)[1:-1],
            kpd_max,
            *np.round(kpd_range_right,10)[1:-1],
            self.f_kpd(k_rash_max)])

        f_left = interpolate.interp1d(
            x=self.f_kpd(np.linspace(k_rash_min, k_rash_kpd_max)),
            y=np.linspace(k_rash_min, k_rash_kpd_max)
            )

        f_right = interpolate.interp1d(
            x=self.f_kpd(np.linspace(k_rash_kpd_max, k_rash_max)),
            y=np.linspace(k_rash_kpd_max, k_rash_max)
            )

        k_koef_rash_range = np.array([
            *f_left(kpd_range[0:kpd_range_left.size]),
            *f_right(kpd_range[kpd_range_left.size:]),
            ])
        return k_koef_rash_range
    

    def get_summry(self):
        volume_rate = self.get_volume_rate_from_press_temp(self.q_rate, self.p_in, self.t_in, self.r_value)
        comp = self.get_comp_r(self.p_in, self.p_out)

        u_val = self.get_u_val(self.diam, self.freq)
        koef_rash = self.get_koef_rash_from_volume_rate(self.diam, u_val, volume_rate).astype(np.float64)

        dh = self.get_dh(self.p_in, self.r_value, self.t_in, comp, self.k_value, self.kpd)
        koef_nap = self.get_koef_nap(dh, u_val).astype(np.float64)

        c00_kpd = np.polyfit(x=koef_rash, y=self.kpd.astype(np.float64), deg=4)        
        self.f_kpd = np.poly1d(c00_kpd)
        c00_nap = np.polyfit(x=koef_rash, y=koef_nap, deg=4)
        self.f_nap = np.poly1d(c00_nap) 

        koef_rash_ = self.get_koef_rash(koef_rash)
        kpd_ = self.f_kpd(koef_rash_)
        koef_nap_ = self.f_nap(koef_rash_)

        freq_base_nom = [1.05, 1.0, 0.95, 0.90, 0.85, 0.80, 0.75, 0.7]
        freq_base = [x * self.freq_nom for x in freq_base_nom]
        volume_rate_x = self.get_volume_rate_from_koef_rash(koef_rash_, self.diam, np.vstack(freq_base))

        z_in = self.get_z_val(self.p_in, self.t_in)  
        comp_y = self.get_comp_ratio_from_koef_nap(koef_nap_, np.vstack(freq_base), self.diam, kpd_, self.t_in, z_in[0], self.r_value, self.k_value)
        # power_line = self.get_line_N_p_in(u_val, z_in, self.r_value, self.t_in, koef_rash_, koef_nap_, kpd_, self.diam)

        res = {
            # 'N/pн': power_line,
            'freq_nom_all': freq_base_nom,
            'comp': [comp_ for comp_ in comp_y],
            'volume_rate': [volume_rate_x for volume_rate_x in volume_rate_x],
            'title': self.__format__()
            }
        res = pd.DataFrame(res)

        grouped_dfs = [group.reset_index(drop=True) for _, group in res.groupby('freq_nom_all')]
        lst_df_2 = []
        lst_buil_gdh_freq = []
        for df in grouped_dfs:
            df_freq = df[['volume_rate', 'comp']].T
            df_freq = pd.DataFrame({**{str(i): df_freq[0].str[i] 
                                for i in range(len(df_freq.loc['comp'][0]))}})
            df_kpd_1 = df_freq.T.stack()
            lst_df_2.append(df_kpd_1)
            datasets_freq = []
            for volume_rate, comp in zip(df_freq.loc['volume_rate'], df_freq.loc['comp']):
                dataset_freq = DataPoint(
                            x=volume_rate, 
                            y=comp
                            ) 
                datasets_freq.append(dataset_freq)

            buil_gdh_freq = BuildGdh(
                label=f"{df['freq_nom_all'][0]}",
                datasets=datasets_freq
                    )
            lst_buil_gdh_freq.append(buil_gdh_freq)

            lst_buil_gdh_kpd = []
            df_kpd_2 = pd.concat(lst_df_2, axis=1) 
            for i, label in zip(range(len(df_kpd_2) // 2), kpd_):
                volume_rate_row = df_kpd_2.iloc[2*i]
                comp_row = df_kpd_2.iloc[2*i+1]

                datasets_kpd = []
                for col in df_kpd_2.columns:
                    volume_rate = volume_rate_row[col]
                    comp = comp_row[col]
                    dataset_kpd = DataPoint(
                            x=volume_rate, 
                            y=comp)            
                    datasets_kpd.append(dataset_kpd)
                
                buil_gdh_kpd = BuildGdh(
                    label=f"{label}",
                    datasets=datasets_kpd
                    )
                lst_buil_gdh_kpd.append(buil_gdh_kpd)

        return [df_freq,              
                df_kpd_2]
 
 
    @classmethod
    def get_plot_gdh(self, data1, data2, data3, name):
        # print(data1, data2, data3)
        fig, ax = plt.subplots()

        for f_nom in data1['n/nном'].unique():
            sup_data = data1[data1['n/nном'] == f_nom]
            x = sup_data.iloc[0, 1:].astype(float).values
            y = sup_data.iloc[1, 1:].astype(float).values
            degree = 4  # Степень полинома
            coefficients = np.polyfit(x, y, degree)
            polynomial = np.poly1d(coefficients)   
            x_smooth = np.linspace(x.min(), x.max(), 300)
            y_smooth = polynomial(x_smooth)       
            ax.plot(x_smooth, y_smooth, color = 'black', linestyle='-')      
            if f_nom == 1: 
                ax.plot(x_smooth, y_smooth, linestyle='-', color = 'deepskyblue')
            if f_nom == 1.05: 
                ax.plot(x_smooth, y_smooth, linestyle='-', color = 'red')  
            ax.text(sup_data.iloc[0, 1], sup_data.iloc[1, 1], round(f_nom, 2), ha = 'right', va = 'baseline', fontsize=9)
        
        for i in range(0, len(data2), 2):
            sup_data = data2.iloc[i:i+2]
            x = sup_data.iloc[0, 1:].astype(float).values
            y = sup_data.iloc[1, 1:].astype(float).values
            degree = 4  # Степень полинома
            coefficients = np.polyfit(x, y, degree)
            polynomial = np.poly1d(coefficients)   
            x_smooth = np.linspace(x.min(), x.max(), 300)
            y_smooth = polynomial(x_smooth)         
            ax.plot(x_smooth, y_smooth, color = 'black', linestyle='-')
            end_value = len(sup_data.iloc[0, 1:])
            ax.text(sup_data.iloc[0, end_value], sup_data.iloc[1, end_value], round(data2['kpd'][i], 2), ha = 'left', va = 'bottom', fontsize=9)
            
        if data3.empty:
            pass
        else: 
            for power_l in data3['N/pн'].unique():
                sup_data = data3[data3['N/pн'] == power_l]
                ax.plot(sup_data.iloc[0, 1:], sup_data.iloc[0, 1:], color = 'black', linestyle='--', linewidth=1)
                end_value = len(sup_data.iloc[0, 1:])
                ax.text(sup_data.iloc[0, end_value], sup_data.iloc[1, end_value], round(power_l, 2), ha = 'left', va = 'top', fontsize=9)
        
        plt.title(f"{name}", fontsize=10)
        ax.set_xlabel('Q, м\u00b3/мин', fontsize=10, loc='right')
        ax.set_ylabel(r'$\epsilon$', fontsize=10, rotation=0, loc='top')
        ax.set_axisbelow(True)
        ax.grid(color='lightgray', linestyle='dashed')
        return plt

    
df = pd.ExcelFile('../media/Оцифрованные СПЧ.xlsx')
for sheet_name in df.sheet_names:
    # print(sheet_name)
    dimKoef = BaseGDH.create_by_excel(df)
    res = dimKoef.get_summry()
    print(res)
    # dimKoef.get_plot_gdh(*res, sheet_name)

0    146.008764
Name: (0, volume_rate), dtype: float64 0    1.284994
Name: (0, comp), dtype: float64
0    183.732628
Name: (1, volume_rate), dtype: float64 0    1.280865
Name: (1, comp), dtype: float64
0    210.870196
Name: (2, volume_rate), dtype: float64 0    1.271698
Name: (2, comp), dtype: float64
0    264.007778
Name: (3, volume_rate), dtype: float64 0    1.239448
Name: (3, comp), dtype: float64
0    319.488576
Name: (4, volume_rate), dtype: float64 0    1.189134
Name: (4, comp), dtype: float64
0    339.725117
Name: (5, volume_rate), dtype: float64 0    1.167733
Name: (5, comp), dtype: float64
0    375.016883
Name: (6, volume_rate), dtype: float64 0    1.12796
Name: (6, comp), dtype: float64
0    146.008764
1    156.437962
Name: (0, volume_rate), dtype: float64 0    1.284994
1    1.331479
Name: (0, comp), dtype: float64
0    183.732628
1    196.856388
Name: (1, volume_rate), dtype: float64 0    1.280865
1    1.326685
Name: (1, comp), dtype: float64
0    210.870196
1    225.932353
Name: (2, volume_rate), dtype: float64 0    1.271698
1    1.315957
Name: (2, comp), dtype: float64
0    264.007778
1    282.865476
Name: (3, volume_rate), dtype: float64 0    1.239448
1    1.278106
Name: (3, comp), dtype: float64
0    319.488576
1    342.309189
Name: (4, volume_rate), dtype: float64 0    1.189134
1    1.219143
Name: (4, comp), dtype: float64
0    339.725117
1    363.991197
Name: (5, volume_rate), dtype: float64 0    1.167733
1    1.194142
Name: (5, comp), dtype: float64
0    375.016883
1    401.803804
Name: (6, volume_rate), dtype: float64 0    1.127960
1    1.147825
Name: (6, comp), dtype: float64
0    146.008764
1    156.437962
2    166.867159
Name: (0, volume_rate), dtype: float64 0    1.284994
1    1.331479
2    1.382452
Name: (0, comp), dtype: float64
0    183.732628
1    196.856388
2    209.980147
Name: (1, volume_rate), dtype: float64 0    1.280865
1    1.326685
2    1.376934
Name: (1, comp), dtype: float64
0    210.870196
1    225.932353
2    240.994510
Name: (2, volume_rate), dtype: float64 0    1.271698
1    1.315957
2    1.364477
Name: (2, comp), dtype: float64
0    264.007778
1    282.865476
2    301.723175
Name: (3, volume_rate), dtype: float64 0    1.239448
1    1.278106
2    1.320389
Name: (3, comp), dtype: float64
0    319.488576
1    342.309189
2    365.129801
Name: (4, volume_rate), dtype: float64 0    1.189134
1    1.219143
2    1.251818
Name: (4, comp), dtype: float64
0    339.725117
1    363.991197
2    388.257276
Name: (5, volume_rate), dtype: float64 0    1.167733
1    1.194142
2    1.222839
Name: (5, comp), dtype: float64
0    375.016883
1    401.803804
2    428.590724
Name: (6, volume_rate), dtype: float64 0    1.127960
1    1.147825
2    1.169331
Name: (6, comp), dtype: float64
0    146.008764
1    156.437962
2    166.867159
3    177.296356
Name: (0, volume_rate), dtype: float64 0    1.284994
1    1.331479
2    1.382452
3    1.438193
Name: (0, comp), dtype: float64
0    183.732628
1    196.856388
2    209.980147
3    223.103906
Name: (1, volume_rate), dtype: float64 0    1.280865
1    1.326685
2    1.376934
3    1.431888
Name: (1, comp), dtype: float64
0    210.870196
1    225.932353
2    240.994510
3    256.056667
Name: (2, volume_rate), dtype: float64 0    1.271698
1    1.315957
2    1.364477
3    1.417522
Name: (2, comp), dtype: float64
0    264.007778
1    282.865476
2    301.723175
3    320.580873
Name: (3, volume_rate), dtype: float64 0    1.239448
1    1.278106
2    1.320389
3    1.366505
Name: (3, comp), dtype: float64
0    319.488576
1    342.309189
2    365.129801
3    387.950414
Name: (4, volume_rate), dtype: float64 0    1.189134
1    1.219143
2    1.251818
3    1.287285
Name: (4, comp), dtype: float64
0    339.725117
1    363.991197
2    388.257276
3    412.523356
Name: (5, volume_rate), dtype: float64 0    1.167733
1    1.194142
2    1.222839
3    1.253922
Name: (5, comp), dtype: float64
0    375.016883
1    401.803804
2    428.590724
3    455.377644
Name: (6, volume_rate), dtype: float64 0    1.127960
1    1.147825
2    1.169331
3    1.192536
Name: (6, comp), dtype: float64
0    146.008764
1    156.437962
2    166.867159
3    177.296356
4    187.725554
Name: (0, volume_rate), dtype: float64 0    1.284994
1    1.331479
2    1.382452
3    1.438193
4    1.499004
Name: (0, comp), dtype: float64
0    183.732628
1    196.856388
2    209.980147
3    223.103906
4    236.227665
Name: (1, volume_rate), dtype: float64 0    1.280865
1    1.326685
2    1.376934
3    1.431888
4    1.491849
Name: (1, comp), dtype: float64
0    210.870196
1    225.932353
2    240.994510
3    256.056667
4    271.118824
Name: (2, volume_rate), dtype: float64 0    1.271698
1    1.315957
2    1.364477
3    1.417522
4    1.475379
Name: (2, comp), dtype: float64
0    264.007778
1    282.865476
2    301.723175
3    320.580873
4    339.438572
Name: (3, volume_rate), dtype: float64 0    1.239448
1    1.278106
2    1.320389
3    1.366505
4    1.416680
Name: (3, comp), dtype: float64
0    319.488576
1    342.309189
2    365.129801
3    387.950414
4    410.771026
Name: (4, volume_rate), dtype: float64 0    1.189134
1    1.219143
2    1.251818
3    1.287285
4    1.325682
Name: (4, comp), dtype: float64
0    339.725117
1    363.991197
2    388.257276
3    412.523356
4    436.789436
Name: (5, volume_rate), dtype: float64 0    1.167733
1    1.194142
2    1.222839
3    1.253922
4    1.287499
Name: (5, comp), dtype: float64
0    375.016883
1    401.803804
2    428.590724
3    455.377644
4    482.164564
Name: (6, volume_rate), dtype: float64 0    1.127960
1    1.147825
2    1.169331
3    1.192536
4    1.217499
Name: (6, comp), dtype: float64
0    146.008764
1    156.437962
2    166.867159
3    177.296356
4    187.725554
5    198.154751
Name: (0, volume_rate), dtype: float64 0    1.284994
1    1.331479
2    1.382452
3    1.438193
4    1.499004
5    1.565216
Name: (0, comp), dtype: float64
0    183.732628
1    196.856388
2    209.980147
3    223.103906
4    236.227665
5    249.351424
Name: (1, volume_rate), dtype: float64 0    1.280865
1    1.326685
2    1.376934
3    1.431888
4    1.491849
5    1.557144
Name: (1, comp), dtype: float64
0    210.870196
1    225.932353
2    240.994510
3    256.056667
4    271.118824
5    286.180981
Name: (2, volume_rate), dtype: float64 0    1.271698
1    1.315957
2    1.364477
3    1.417522
4    1.475379
5    1.538361
Name: (2, comp), dtype: float64
0    264.007778
1    282.865476
2    301.723175
3    320.580873
4    339.438572
5    358.296270
Name: (3, volume_rate), dtype: float64 0    1.239448
1    1.278106
2    1.320389
3    1.366505
4    1.416680
5    1.471161
Name: (3, comp), dtype: float64
0    319.488576
1    342.309189
2    365.129801
3    387.950414
4    410.771026
5    433.591639
Name: (4, volume_rate), dtype: float64 0    1.189134
1    1.219143
2    1.251818
3    1.287285
4    1.325682
5    1.367158
Name: (4, comp), dtype: float64
0    339.725117
1    363.991197
2    388.257276
3    412.523356
4    436.789436
5    461.055516
Name: (5, volume_rate), dtype: float64 0    1.167733
1    1.194142
2    1.222839
3    1.253922
4    1.287499
5    1.323684
Name: (5, comp), dtype: float64
0    375.016883
1    401.803804
2    428.590724
3    455.377644
4    482.164564
5    508.951484
Name: (6, volume_rate), dtype: float64 0    1.127960
1    1.147825
2    1.169331
3    1.192536
4    1.217499
5    1.244286
Name: (6, comp), dtype: float64
0    146.008764
1    156.437962
2    166.867159
3    177.296356
4    187.725554
5    198.154751
6    208.583949
Name: (0, volume_rate), dtype: float64 0    1.284994
1    1.331479
2    1.382452
3    1.438193
4    1.499004
5    1.565216
6    1.637186
Name: (0, comp), dtype: float64
0    183.732628
1    196.856388
2    209.980147
3    223.103906
4    236.227665
5    249.351424
6    262.475183
Name: (1, volume_rate), dtype: float64 0    1.280865
1    1.326685
2    1.376934
3    1.431888
4    1.491849
5    1.557144
6    1.628129
Name: (1, comp), dtype: float64
0    210.870196
1    225.932353
2    240.994510
3    256.056667
4    271.118824
5    286.180981
6    301.243137
Name: (2, volume_rate), dtype: float64 0    1.271698
1    1.315957
2    1.364477
3    1.417522
4    1.475379
5    1.538361
6    1.606809
Name: (2, comp), dtype: float64
0    264.007778
1    282.865476
2    301.723175
3    320.580873
4    339.438572
5    358.296270
6    377.153969
Name: (3, volume_rate), dtype: float64 0    1.239448
1    1.278106
2    1.320389
3    1.366505
4    1.416680
5    1.471161
6    1.530215
Name: (3, comp), dtype: float64
0    319.488576
1    342.309189
2    365.129801
3    387.950414
4    410.771026
5    433.591639
6    456.412252
Name: (4, volume_rate), dtype: float64 0    1.189134
1    1.219143
2    1.251818
3    1.287285
4    1.325682
5    1.367158
6    1.411874
Name: (4, comp), dtype: float64
0    339.725117
1    363.991197
2    388.257276
3    412.523356
4    436.789436
5    461.055516
6    485.321596
Name: (5, volume_rate), dtype: float64 0    1.167733
1    1.194142
2    1.222839
3    1.253922
4    1.287499
5    1.323684
6    1.362601
Name: (5, comp), dtype: float64
0    375.016883
1    401.803804
2    428.590724
3    455.377644
4    482.164564
5    508.951484
6    535.738405
Name: (6, volume_rate), dtype: float64 0    1.127960
1    1.147825
2    1.169331
3    1.192536
4    1.217499
5    1.244286
6    1.272969
Name: (6, comp), dtype: float64
0    146.008764
1    156.437962
2    166.867159
3    177.296356
4    187.725554
5    198.154751
6    208.583949
7    219.013146
Name: (0, volume_rate), dtype: float64 0    1.284994
1    1.331479
2    1.382452
3    1.438193
4    1.499004
5    1.565216
6    1.637186
7    1.715302
Name: (0, comp), dtype: float64
0    183.732628
1    196.856388
2    209.980147
3    223.103906
4    236.227665
5    249.351424
6    262.475183
7    275.598943
Name: (1, volume_rate), dtype: float64 0    1.280865
1    1.326685
2    1.376934
3    1.431888
4    1.491849
5    1.557144
6    1.628129
7    1.705190
Name: (1, comp), dtype: float64
0    210.870196
1    225.932353
2    240.994510
3    256.056667
4    271.118824
5    286.180981
6    301.243137
7    316.305294
Name: (2, volume_rate), dtype: float64 0    1.271698
1    1.315957
2    1.364477
3    1.417522
4    1.475379
5    1.538361
6    1.606809
7    1.681092
Name: (2, comp), dtype: float64
0    264.007778
1    282.865476
2    301.723175
3    320.580873
4    339.438572
5    358.296270
6    377.153969
7    396.011667
Name: (3, volume_rate), dtype: float64 0    1.239448
1    1.278106
2    1.320389
3    1.366505
4    1.416680
5    1.471161
6    1.530215
7    1.594131
Name: (3, comp), dtype: float64
0    319.488576
1    342.309189
2    365.129801
3    387.950414
4    410.771026
5    433.591639
6    456.412252
7    479.232864
Name: (4, volume_rate), dtype: float64 0    1.189134
1    1.219143
2    1.251818
3    1.287285
4    1.325682
5    1.367158
6    1.411874
7    1.460003
Name: (4, comp), dtype: float64
0    339.725117
1    363.991197
2    388.257276
3    412.523356
4    436.789436
5    461.055516
6    485.321596
7    509.587675
Name: (5, volume_rate), dtype: float64 0    1.167733
1    1.194142
2    1.222839
3    1.253922
4    1.287499
5    1.323684
6    1.362601
7    1.404384
Name: (5, comp), dtype: float64
0    375.016883
1    401.803804
2    428.590724
3    455.377644
4    482.164564
5    508.951484
6    535.738405
7    562.525325
Name: (6, volume_rate), dtype: float64 0    1.127960
1    1.147825
2    1.169331
3    1.192536
4    1.217499
5    1.244286
6    1.272969
7    1.303622
Name: (6, comp), dtype: float64
[                      0           1           2           3           4  \
volume_rate  219.013146  275.598943  316.305294  396.011667  479.232864
comp           1.715302    1.705190    1.681092    1.594131    1.460003

                      5           6
volume_rate  509.587675  562.525325
comp           1.404384    1.303622  ,                         0           1           2           3           4  \
0 volume_rate  146.008764  156.437962  166.867159  177.296356  187.725554
  comp           1.284994    1.331479    1.382452    1.438193    1.499004
1 volume_rate  183.732628  196.856388  209.980147  223.103906  236.227665
  comp           1.280865    1.326685    1.376934    1.431888    1.491849
2 volume_rate  210.870196  225.932353  240.994510  256.056667  271.118824
  comp           1.271698    1.315957    1.364477    1.417522    1.475379
3 volume_rate  264.007778  282.865476  301.723175  320.580873  339.438572
  comp           1.239448    1.278106    1.320389    1.366505    1.416680
4 volume_rate  319.488576  342.309189  365.129801  387.950414  410.771026
  comp           1.189134    1.219143    1.251818    1.287285    1.325682
5 volume_rate  339.725117  363.991197  388.257276  412.523356  436.789436
  comp           1.167733    1.194142    1.222839    1.253922    1.287499
6 volume_rate  375.016883  401.803804  428.590724  455.377644  482.164564
  comp           1.127960    1.147825    1.169331    1.192536    1.217499

                        5           6           7
0 volume_rate  198.154751  208.583949  219.013146
  comp           1.565216    1.637186    1.715302
1 volume_rate  249.351424  262.475183  275.598943
  comp           1.557144    1.628129    1.705190
2 volume_rate  286.180981  301.243137  316.305294
  comp           1.538361    1.606809    1.681092
3 volume_rate  358.296270  377.153969  396.011667
  comp           1.471161    1.530215    1.594131
4 volume_rate  433.591639  456.412252  479.232864
  comp           1.367158    1.411874    1.460003
5 volume_rate  461.055516  485.321596  509.587675
  comp           1.323684    1.362601    1.404384
6 volume_rate  508.951484  535.738405  562.525325
  comp           1.244286    1.272969    1.303622  ]
0    209.615294
Name: (0, volume_rate), dtype: float64 0    1.503325
Name: (0, comp), dtype: float64
0    212.256388
Name: (1, volume_rate), dtype: float64 0    1.500967
Name: (1, comp), dtype: float64
0    215.908372
Name: (2, volume_rate), dtype: float64 0    1.497539
Name: (2, comp), dtype: float64
0    226.089458
Name: (3, volume_rate), dtype: float64 0    1.488487
Name: (3, comp), dtype: float64
0    247.65802
Name: (4, volume_rate), dtype: float64 0    1.467922
Name: (4, comp), dtype: float64
0    308.744363
Name: (5, volume_rate), dtype: float64 0    1.349837
Name: (5, comp), dtype: float64
0    314.502235
Name: (6, volume_rate), dtype: float64 0    1.337901
Name: (6, comp), dtype: float64
0    209.615294
1    224.587815
Name: (0, volume_rate), dtype: float64 0    1.503325
1    1.589605
Name: (0, comp), dtype: float64
0    212.256388
1    227.417559
Name: (1, volume_rate), dtype: float64 0    1.500967
1    1.587189
Name: (1, comp), dtype: float64
0    215.908372
1    231.330399
Name: (2, volume_rate), dtype: float64 0    1.497539
1    1.583450
Name: (2, comp), dtype: float64
0    226.089458
1    242.238705
Name: (3, volume_rate), dtype: float64 0    1.488487
1    1.572950
Name: (3, comp), dtype: float64
0    247.658020
1    265.347879
Name: (4, volume_rate), dtype: float64 0    1.467922
1    1.547854
Name: (4, comp), dtype: float64
0    308.744363
1    330.797532
Name: (5, volume_rate), dtype: float64 0    1.349837
1    1.407480
Name: (5, comp), dtype: float64
0    314.502235
1    336.966680
Name: (6, volume_rate), dtype: float64 0    1.337901
1    1.393017
Name: (6, comp), dtype: float64
0    209.615294
1    224.587815
2    239.560336
Name: (0, volume_rate), dtype: float64 0    1.503325
1    1.589605
2    1.685387
Name: (0, comp), dtype: float64
0    212.256388
1    227.417559
2    242.578730
Name: (1, volume_rate), dtype: float64 0    1.500967
1    1.587189
2    1.683022
Name: (1, comp), dtype: float64
0    215.908372
1    231.330399
2    246.752425
Name: (2, volume_rate), dtype: float64 0    1.497539
1    1.583450
2    1.679029
Name: (2, comp), dtype: float64
0    226.089458
1    242.238705
2    258.387952
Name: (3, volume_rate), dtype: float64 0    1.488487
1    1.572950
2    1.666965
Name: (3, comp), dtype: float64
0    247.658020
1    265.347879
2    283.037737
Name: (4, volume_rate), dtype: float64 0    1.467922
1    1.547854
2    1.636530
Name: (4, comp), dtype: float64
0    308.744363
1    330.797532
2    352.850701
Name: (5, volume_rate), dtype: float64 0    1.349837
1    1.407480
2    1.470839
Name: (5, comp), dtype: float64
0    314.502235
1    336.966680
2    359.431126
Name: (6, volume_rate), dtype: float64 0    1.337901
1    1.393017
2    1.453433
Name: (6, comp), dtype: float64
0    209.615294
1    224.587815
2    239.560336
3    254.532857
Name: (0, volume_rate), dtype: float64 0    1.503325
1    1.589605
2    1.685387
3    1.791459
Name: (0, comp), dtype: float64
0    212.256388
1    227.417559
2    242.578730
3    257.739900
Name: (1, volume_rate), dtype: float64 0    1.500967
1    1.587189
2    1.683022
3    1.789286
Name: (1, comp), dtype: float64
0    215.908372
1    231.330399
2    246.752425
3    262.174452
Name: (2, volume_rate), dtype: float64 0    1.497539
1    1.583450
2    1.679029
3    1.785126
Name: (2, comp), dtype: float64
0    226.089458
1    242.238705
2    258.387952
3    274.537199
Name: (3, volume_rate), dtype: float64 0    1.488487
1    1.572950
2    1.666965
3    1.771385
Name: (3, comp), dtype: float64
0    247.658020
1    265.347879
2    283.037737
3    300.727596
Name: (4, volume_rate), dtype: float64 0    1.467922
1    1.547854
2    1.636530
3    1.734671
Name: (4, comp), dtype: float64
0    308.744363
1    330.797532
2    352.850701
3    374.903870
Name: (5, volume_rate), dtype: float64 0    1.349837
1    1.407480
2    1.470839
3    1.540286
Name: (5, comp), dtype: float64
0    314.502235
1    336.966680
2    359.431126
3    381.895571
Name: (6, volume_rate), dtype: float64 0    1.337901
1    1.393017
2    1.453433
3    1.519462
Name: (6, comp), dtype: float64
0    209.615294
1    224.587815
2    239.560336
3    254.532857
4    269.505378
Name: (0, volume_rate), dtype: float64 0    1.503325
1    1.589605
2    1.685387
3    1.791459
4    1.908683
Name: (0, comp), dtype: float64
0    212.256388
1    227.417559
2    242.578730
3    257.739900
4    272.901071
Name: (1, volume_rate), dtype: float64 0    1.500967
1    1.587189
2    1.683022
3    1.789286
4    1.906886
Name: (1, comp), dtype: float64
0    215.908372
1    231.330399
2    246.752425
3    262.174452
4    277.596478
Name: (2, volume_rate), dtype: float64 0    1.497539
1    1.583450
2    1.679029
3    1.785126
4    1.902677
Name: (2, comp), dtype: float64
0    226.089458
1    242.238705
2    258.387952
3    274.537199
4    290.686446
Name: (3, volume_rate), dtype: float64 0    1.488487
1    1.572950
2    1.666965
3    1.771385
4    1.887150
Name: (3, comp), dtype: float64
0    247.658020
1    265.347879
2    283.037737
3    300.727596
4    318.417455
Name: (4, volume_rate), dtype: float64 0    1.467922
1    1.547854
2    1.636530
3    1.734671
4    1.843071
Name: (4, comp), dtype: float64
0    308.744363
1    330.797532
2    352.850701
3    374.903870
4    396.957038
Name: (5, volume_rate), dtype: float64 0    1.349837
1    1.407480
2    1.470839
3    1.540286
4    1.616229
Name: (5, comp), dtype: float64
0    314.502235
1    336.966680
2    359.431126
3    381.895571
4    404.360017
Name: (6, volume_rate), dtype: float64 0    1.337901
1    1.393017
2    1.453433
3    1.519462
4    1.591445
Name: (6, comp), dtype: float64
0    209.615294
1    224.587815
2    239.560336
3    254.532857
4    269.505378
5    284.477899
Name: (0, volume_rate), dtype: float64 0    1.503325
1    1.589605
2    1.685387
3    1.791459
4    1.908683
5    2.038001
Name: (0, comp), dtype: float64
0    212.256388
1    227.417559
2    242.578730
3    257.739900
4    272.901071
5    288.062242
Name: (1, volume_rate), dtype: float64 0    1.500967
1    1.587189
2    1.683022
3    1.789286
4    1.906886
5    2.036814
Name: (1, comp), dtype: float64
0    215.908372
1    231.330399
2    246.752425
3    262.174452
4    277.596478
5    293.018505